

<h3>Transaction</h3>

<div>
    <h4>
        <%= image_tag(@group.icon) %>
        <%= @group.name %>
        <%= @group.entities.sum(:amount) %>
    </h4>

    <div>
    <ul>
        <% @group.entities.each do |entity|%>
            <li>
                <%= entity.name %>
                <%= entity.amount %>
                <%= entity.created_at.strftime("%Y-%m-%d %H:%M") %>
            </li>
        <% end %>
    </ul>
    </div>
    <%= link_to 'New Transaction', new_group_entity_path(@group), class: "btn btn-primary" %>
</div>


